
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recruit Helper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="css/community.css" type="text/css">
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>

<!--自适应背景调用它<div class="demo"></div>-->


<nav class="navbar navbar-default page__menu menu" style="border:0px solid #052D4F; ">
    <div class="container-fluid navbar—style" >
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only ">Recruit Helper</span>

            </button>
            <a class="navbar-brand" style="color:white;margin-top:-1px;" href="/">Recruit Helper</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left display-style"  >
                <span  ></span>
                <div class="form-group display-style" style=" display:flex; justify-content:center;">
                    <input type="text" class="form-control border-style"  >
                    <button type="submit" class=" glyphicon glyphicon-search icon-style search-button" aria-hidden="true"></button>
                </div>

            </form>

            <ul class="nav navbar-nav navbar-right menu__list r-list">

                <!--<li th:if="${session.user != null}">
                    <a href="/publish" style="color:white; font-size: 15px" >POST</a>
                </li>-->

                <li class="dropdown" th:if="${session.user != null}">
<!--                    menu__group menu__link r-link text-underlined-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}" style="color:white; font-size: 15px; font-weight:normal"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="menu__group menu__link r-link text-underlined"><a href="#">Message</a></li>
                        <li class="menu__group menu__link r-link text-underlined"><a href="#">Profile</a></li>
                        <li class="menu__group menu__link r-link text-underlined"><a href="#">Logout</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}" class="menu__group menu__link r-link text-underlined">
                    <a style="color:white; font-size: 15px; font-weight:normal" href="https://github.com/login/oauth/authorize?client_id=8ca0d9325da346901696&redirect_uri=http://localhost:8080/callback&scope=user&state=1">
                        Login
                    </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid main card-style" style=" color:#052D4F; " >
    <div class="row" >
        <div class="col-lg-9 col-md-11 col-sm-12 col-xs-12" style="display:block; height:600px">
            <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span>Discover</h2>
            <hr>
            <!--循环展示职业信息-->
            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.company.toUpperCase()}"></span>
                    <span th:text="${question.place.substring(0,1).toUpperCase()+question.place.substring(1).toLowerCase()}"></span><br>
                    <span class="commentview">
                        <span th:text="${question.commentCount}"></span> comments
                        • <span th:text="${question.viewCount}"></span> views
                        • <span th:text="${#dates.format(question.gmtCreate,'yyyy MM dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <!--分页功能在这里-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 最前页 & 前一页-->
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <!-- 分页 逻辑-->
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}? 'active':''">
                        <a th:href="@{/(page=${page})}" th:text="${page}">

                        </a>
                    </li>
                    <!-- 最后页 & 后一页-->
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.getTotalPage()})}" aria-label="Previous">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>To be decided</h3>
        </div>
    </div>
</div>


<!--POST按钮  改一下-->
<div class="row post_div">
    <div class="col-md-11  col-sm-11 "></div>
    <div class="col-md-1  col-sm-1" th:if="${session.user != null}" >
        <div class="post-style">
            <a href="/publish" class=" glyphicon glyphicon-plus-sign post-a" style=" text-decoration:none; color:#43A9BF;" ></a>
        </div>
    </div>
</div>



</body>
</html>