<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recruit Helper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="css/community.css" type="text/css">
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default page__menu menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Recruit Helper</span>

            </button>
            <a class="navbar-brand" href="/">Recruit Helper</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Job">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right menu__list r-list">
                <li th:if="${session.user != null}">
                    <a href="/publish">Post</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle menu__group menu__link r-link text-underlined" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="menu__group menu__link r-link text-underlined"><a href="#">Message</a></li>
                        <li class="menu__group menu__link r-link text-underlined"><a href="#">Profile</a></li>
                        <li class="menu__group menu__link r-link text-underlined"><a href="#">Logout</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}" class="menu__group menu__link r-link text-underlined">
                    <a href="https://github.com/login/oauth/authorize?client_id=8ca0d9325da346901696&redirect_uri=http://localhost:8080/callback&scope=user&state=1">Login</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Post</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">Job Title</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="Job Title @Company">
                </div>
                <div class="form-group">
                    <label for="description">More Details</label>
                    <textarea name="description" id="description" class="form-control" th:value="${description}" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="tag">Add tags</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="Input tags, divided by comma">
                </div>

                <div class="form-group">
                    <label for="title">Apply Job Here</label>
                    <input type="url" class="form-control" th:value="${joblink}" id="joblink" name="joblink" placeholder="link to apply page">
                </div>

                <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
                <!-- Indicates a successful or positive action -->
                    <button type="submit" class="btn btn-success btn-submit">Submit</button>

            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Sample Post</h3>
            <h4>Software Development Engineer @Amazon</h4>
            <h4>BASIC QUALIFICATIONS</h4>
            · Programming experience with at least one modern language such as Java, C++, or C# including object-oriented design<br>
            · A Bachelor's or Master's degree in Computer Science, Engineering, Mathematics, or a related field, or experience equivalent to a Bachelor's degree based on three or more years of work experience for every one year of education<br>
            · An understanding of computer science fundamentals in algorithms and data structures<br>
            <h4>Software, Database</h4>
            <h4><a href="https://www.amazon.jobs/en/jobs/1506005/software-development-engineer-aws-dynamodb">https://www.amazon.jobs</a></h4>

        </div>
    </div>
</div>

</body>
</html>