<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/css/community.css" type="text/css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>

</head>
<body>

<!--插入导航页-->
<div th:insert="~{navigation :: nav}">...</div>

<div class="demo"></div>

<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">
        <div class="container-fluid main card-style" style=" color:#052D4F; ">
            <div class="row">
                <!--左边展示 Job details 部分-->
                <div class="col-lg-8 col-md-11 col-sm-12 col-xs-12" style="display:block; margin-top:15px">

                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                        <h2><span th:text="${question.title}"></span></h2>
                        <h5>
                            <span th:text="${question.company.toUpperCase()}"></span>
                            <span th:text=" in "></span>
                            <span th:text="${question.place.substring(0,1).toUpperCase()+question.place.substring(1).toLowerCase()}"></span>
                        </h5>
                        <span class="commentview">
                | Publisher: <span th:text="${question.user.getName()}"></span>
                | Views: <span th:text="${question.viewCount}"></span>
                | Publish Time: <span th:text="${#dates.format(question.gmtCreate,'yyyy MM dd HH:mm')}"></span>
            </span>

                        <hr>
                        <h3>Job Details</h3>
                        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12" th:text="${question.description}"></div>

                        <hr class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                        <h3>Contact Information</h3>
                        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12" th:text="${question.joblink}"></div>

                        <hr class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                        <a th:href="@{'/publish/'+${question.id}}"
                           th:if="${session.user != null && session.user.getId() == question.getCreator()}">
                            <span class=" glyphicon glyphicon-edit" aria-hidden="true"></span>
                            Edit
                        </a>
                    </div>

                    <!-- 展示回复们-->
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>
                        <span th:text="${question.getCommentCount()}"></span> comments
                    </h4>
                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12" th:each="comment: ${comments}">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <span th:text="${comment.user.getName()}"></span>
                                </h5>
                                <div th:text="${comment.getContent()}"></div>
                                <div class="menu">
                                    <span class="glyphicon glyphicon-thumbs-up icon" style="margin-right: 10px"></span>
                                    <span class="glyphicon glyphicon-comment icon"></span>
                                    <span class="pull-right commentview"
                                          th:text="${#dates.format(comment.gmtCreate,'yyyy MM dd HH:mm')}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--分割线-->
                    <hr class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                    <!--回复框-->
                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12" id="comment_section">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                                </a>
                            </div>
                            <div class="media-body" style="padding-top: 15px">
                                <h5 class="media-heading">
                                    <span th:text="${question.user.getName()}"></span>
                                </h5>
                            </div>
                        </div>
                        <input type="hidden" id="question_id" th:value="${question.id}">
                        <textarea class="form-control" rows="4" id="comment_content" style="margin:15px 0"></textarea>
                        <button type="button" class="btn btn-info" style="float: right; margin:10px 0" onclick="post()">
                            Reply
                        </button>
                    </div>
                </div>

                <!--右边部分-->
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-1">
                                <!--  glyphicon glyphicon-remove-sign glyphicon glyphicon-remove-->
                                <a href="/" class="glyphicon glyphicon-remove close"
                                   style="color:#052D4F; opacity:0.8;"></a>
                            </div>
                        </div>
                        <!--问题发布人-->
                        <h4>Publisher</h4>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <span th:text="${question.user.getName()}"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--            相关推荐，之后可能补-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4>Related Job Positions</h4>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
</html>